body {
    background-color: rgb(172, 162, 151);
  }
  
  h1 {
    color: rgb(239, 221, 221);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
  }