body {
    background-color: rgb(35, 110, 150);
  }
  
  h1 {
    color: rgb(255, 215, 0);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 15px;
    color: rgb(255, 255, 255);
  }