



.column {
  float: left;
  width: 25%;
  padding: 20px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}







p {
    font-family: verdana;
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-left: 300px;
    margin-right: 300px;
    margin-top: -40px;
    text-align: center;
  }

  h2 { 
color: rgb(0, 0, 0);
font-family: verdana;
font-size: 24px;
margin-left: 300px;
margin-right: 300px;
text-align: center;
} 

h3 { 
  color: rgb(255, 255, 255);
  font-family: verdana;
  font-size: 12px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
  } 

h4 { 
  color: rgb(0, 0, 0);
  font-family: verdana;
  font-size: 18px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
  }   

  h5 { 
    color: rgb(0, 0, 0);
  }  

li {
  color: rgb(54, 133, 235);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: left;
}